/* MOBILE FIRST SIZE ///////////////////////////////////////////////////////////*/

/*  blauw               #08407B
    grijs               999999          
    donker grijs        444444
    background grijs    EAEAEA
*/

body {
    background-color: white;
    font-family: "verdana", sans-serif;
}


.hamburger {
    max-width: 205px;
}

.form1 {
    background-image: url("../_IMG/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    min-width: 320px;

}

.form2 {
  
    min-width: 320px;

}


.boxes,
.boxes2 {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 265px;
    width: 85%;
}

.boxes2 {
    margin-top: 10px;
    margin-bottom: 40px
}



.blauw {
    background-color: #08407B;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
    width: 85%;
}




.sec1 {

    margin-top: 15px;
    font-size: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    height: 60px;
    text-align: center;
   
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0px;


}

.logokleur {
    width: 100px;

}

.icoon {
    max-width: 20px;

}

.images {
    max-width: 100%;
    min-width: 100%;
}

article button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 100px;
    background-color: #08407B;
    font-size: 15px;
    padding: 10px;
}

article {
    margin-bottom: 20px
}

article p {
    font-size: 15px;
    color: #444444;

}

article h1 {
    font-size: 40px;
    color: #444444;
    margin-right: 60px font-weight
}

footer {
    background-color: gainsboro;
    text-align: center;
    font-size: 10px;
    padding-bottom: 100px
}

.logozw {
    width: 200px;
    margin: 40px 0px 100px;
}


/* /////////////////////////////////////////////////////////////////////////////*/

/* BREAKPOINT IPAD ////////////////////////////////////////////////////////////*/

@media (min-width: 426px) {


.images {

     width: 100%;
      height: 200px;;
    background-size: cover;
}
    






}

/* ////////////////////////////////////////////////////////////////////////////*/

/* BREAKPOINT LAPTOP ///////////////////////////////////////////////////////// */

@media (min-width: 769px) {



    body {}





}

/* ////////////////////////////////////////////////////////////////////////////*/
